html,
button{
  list-style: none;
}
body {
  height: 100%;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

h1,
h2 {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

/* 浏览器都有自己的默认样式，以上部分为清除浏览器默认样式 */

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
}

a.qq {
  margin-left: 10px;
  margin-top: 20px;
  float: left;
  cursor: pointer;
  font-size: 0;
}

a.qq > img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

a.qq > span {
  vertical-align: middle;
  font-size: 36px;
  line-height: 43px;
  margin-left: 6px;
}

ul.right {
  float: right;
}

ul.right > li {
  float: left;
  margin-top: 20px;
  margin-right: 40px;

  font-size: 16px;
  line-height: 24px;

  cursor: pointer;
}

.bright {
  width: 95px;
  height: 34px;
}

.bright > img {
  width: 100%;
  height: 100%;
}

ul.right > li.language {
  font-size: 0;
  margin-top: 30px;
}

ul.right > li.language span {
  font-size: 16px;
  vertical-align: middle;
}

ul.right > li.language .arrow {
  vertical-align: middle;
  width: 12px;
  height: 8px;
}

ul.right > li.contact {
  margin-top: 30px;
}

/*上面是QQ注册页头部CSS*/
.back {
  width: 480px;
  height: 800px;
  position: absolute;

  background: url(http://document.youkeda.com/P3-1-HTML-CSS/1.11/bg.png);
  background-size: contain;

  z-index: -1;
}
.allbox {
  width: 480px;
  height: 576px;

  position: absolute;

  margin-top: 104px;
  margin-left: 720px;

  background-color: rgb(255, 255, 255);

  z-index: -1;
}
.box1 {
  width: 244px;
  height: 62px;
  opacity: 1;

  display: inline;

  color: rgba(0, 0, 0, 1);
  font-size: 44px;
  font-weight: 400;
  font-family: "PingFang SC";
  text-align: left;
}
.box2 {
  width: 252px;
  height: 34px;
  opacity: 1;

  display: inline-block;

  margin-top: 13px;

  color: rgba(51, 51, 51, 1);
  font-size: 27px;
  font-weight: 400;
  font-family: "PingFang SC";
  text-align: left;
  line-height: 33.6px;
}
.box3 {
  width: 96px;
  height: 29px;
  opacity: 1;

  display: inline;

  margin-left: 131px;
  color: rgba(53, 158, 255, 1);
  font-size: 23px;
  font-weight: 700;
  font-family: "PingFang SC";
  text-align: left;
  line-height: 28.8px;
}
.frame1 {
  width: 480px;
  height: 52px;
  border-radius: 4px;
  opacity: 0.5;

  margin-top: 63px;

  display: block;
}
input::placeholder {
  padding-left: 20px;
  padding-top: 15px;

  width: 40px;
  height: 20px;
  opacity: 1;
  color: rgba(170, 170, 170, 1);
  font-size: 19px;
  font-weight: 400;
  font-family: "PingFang SC";
  text-align: left;
  line-height: 20px;
}
.frame2 {
  width: 480px;
  height: 52px;
  border-radius: 4px;
  opacity: 0.5;

  margin-top: 32px;

  display: block;
}
.box4 {
  width: 154px;
  height: 52px;
  opacity: 1;

  display: inline-block;

  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(170, 170, 170, 1);

  background-color: rgb(255, 255, 255);

  margin-top: 32px;
}
.char {
  width: 37px;
  height: 43px;
  opacity: 1;

  display: block;

  margin-left: 14px;
  margin-top: 5px;

  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  font-weight: 700;
  font-family: "PingFang SC";
  text-align: left;
  line-height: 43px;
}

.pic {
  width: 12px;
  height: 8px;
  opacity: 1;

  display: block;

  margin-top: -24px;
  margin-left: 130px;
}

.frame3 {
  width: 307px;
  height: 52px;
  border-radius: 4px;
  opacity: 0.5;

  margin-top: 0px;
  margin-left: 2px;

  display: inline-block;
}
.char2 {
  width: 154px;
  height: 14px;
  opacity: 1;

  margin-top: 10px;
  color: rgba(153, 153, 153, 1);
  font-size: 13px;
  font-weight: 400;
  font-family: "PingFang SC";
  text-align: left;
  line-height: 14px;
}

.box5 {
  width: 478px;
  height: 60px;
  border-radius: 4px;
  opacity: 1;
  background: rgba(52, 135, 255, 1);
  box-shadow: 0 5px 8px 0 rgba(24, 95, 255, 0.1);

  margin-top: 38px;
}
.char3{
  width: 238px;
height: 30px;
opacity: 1;

margin-top:32px;
color: rgba(170,170,170,1);
font-size: 13px;
font-weight: 400;
font-family: "PingFang SC";
text-align: left;
line-height: 30px;
}
.pic2{
  width: 12px;
height: 8px;
opacity: 1;

margin-left:8px;
margin-top:32px;
}
