form {
    width: 350px;
    margin: 0 auto;
    margin-top: 20px;
  }
  input,
  button {
    width: 100%;
    margin-bottom: 14px;
  }
  input[type='checkbox'] {
    width: unset;
  }
  input::-webkit-input-placeholder {
    font-size: 14px;
    color: #dbdbdb;
  }
  input:-moz-placeholder {
    font-size: 14px;
    color: #dbdbdb;
  }
  input::-moz-placeholder {
    font-size: 14px;
    color: #dbdbdb;
  } /* for the future */
  input:-ms-input-placeholder {
    font-size: 14px;
    color: #dbdbdb;
  }
  
  button {
    background: #fe7300;
    border: none;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    padding: 8px 26px;
    font-weight: 500;
    border-radius: 2px;
  }
  label {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
  }
  label + span {
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
  }
  label + span > a {
    cursor: pointer;
    color: #005980;
    text-decoration: none;
  }
  input {
    box-sizing: border-box;
    padding: 9px 14px;
    border-radius: 2px;
    border: 1px solid #dfe3e9;
  }
  input:focus {
    outline: none;
    border-color: rgba(254, 115, 0, 0.5);
  }
  